<div class="container">
    <div class="project">
          <h2 class="project__title">Proyectos</h2>
          <div class="chips">
              <mat-chip-listbox aria-label="select a type of project">
                    <mat-chip-option
                        class="chips__option" 
                        *ngFor="let chip of chips" [selected]="chip==chips[0]"
                        (click)="getElements(chip)"
                    >
                         {{chip}} 
                    </mat-chip-option>
             
              </mat-chip-listbox>
          </div>
          <div>
            <app-mockup-card  class="items" *ngIf="seleectedValue==chips[0]" [mockups]="mockups" ></app-mockup-card>
            <app-product-card  class="items" *ngIf="seleectedValue==chips[1]" [products]="products" ></app-product-card>
            <app-analytics-card    *ngIf="seleectedValue==chips[2]" ></app-analytics-card>
            <app-ml-card    *ngIf="seleectedValue==chips[3]"  ></app-ml-card>
            <app-automation    *ngIf="seleectedValue==chips[4]" [automations]="automations" ></app-automation>
          </div>
          
          

    </div>
</div>