.container {
    height: calc(100vh - var(--menu-height));
    max-width: 1200px;
  }
  .project{
    padding-bottom: 2rem;
  }
  .project__title{
    margin-top: 40px;
    background: linear-gradient(90deg, #1082E6 0%, #0098F4 15.05%, #04A0EC 30.07%, #04AFE1 44.82%, #0BC2DD 60.37%, #00CCDF 73.78%, #0ED0DE 84.77%, #21DCCA 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 
  }
  
.chips{
    display: flex;
    justify-content: center;
    padding: 3rem 0;
}
.chips__option{
  font-size: 20px;
}
  
  @media (min-width: 768px) {
   
    .chips__option{
      font-size: 22px;
    }
  
  }

.items{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}
@media (min-width: 720px) {
    .items{   
        grid-template-columns: repeat(2 , 1fr);
        gap: 1.8rem;
    }
  
  }

@media (min-width: 1110px) {
    .items{
        grid-template-columns: repeat(2 , 1fr);
        gap: 2rem;
    }
  
  }