<div class="container">
    <div class="about">
          <h2 class="about__tittle">Sobre mi</h2>

          <div class="personal-info">
                <h3 class="personal-info__subtitle subtittle">Información personal</h3>
                <app-personal-info> </app-personal-info>
          </div>

          <div class="skills">
                <h3 class="skills__subtitle subtittle"> Mis skills</h3>
                <app-skill [skills]="skills" class="skills__content"></app-skill>

          </div>
          <div class="education">
                <h3 class="education__subtitle subtittle">Educacion</h3>
                <app-education class="education__timeline" [education]="education"></app-education>
          </div>
    </div>

</div>