<h2 class="title"> Contacto </h2>    
<div class="networks">
    <div class="networks__network">
        <div class="network__content">
            <span>Email</span>
            <p>c21choccata@gmail.com</p>
        </div>
         
        <div class="network__icon">
            <img src="/assets/images/icons/mail-logo.svg">
        </div>
    </div>
    <div class="networks__network">     
        <div class="network__content">
            <span>Linkedin</span>
            <p>Cesar Choccata</p>
        </div>
        
        <div class="network__icon">
            <img src="/assets/images/icons/linkedin-logo.svg">
        </div>
    </div>
</div>