<div class="container">
    <div class="home">
          <div class="home__image">
                <img src="assets/images/tree.jpg" alt="hero image">
    
          </div>
          <div class="home__content">
                <div class="home__header">
                      <span class="home__title-subtitle">CESAR CHOCCATA </span>
                      <h1 class="home__title-main">FULLSTACK DEVELOPER</h1>
                </div>
                <div class="home__text">
                      <p>Soy un diseñador web y desarrollador front-end radicado en Túnez centrado en crear experiencias
                            limpias y fáciles de usar. Me apasiona crear software excelente que mejore las vidas de quienes
                            me rodean.
                      </p>
                </div>
                <div class="home__cta">
                      <button mat-stroked-button routerLink="/portfolio-cesar/about" class="home__cta-button">Más sobre mi</button>
                </div>
    
          </div>
    
    </div>
</div>