<div class="container">
    <div class="home">
          <div class="home__image">
            <picture>
                <source srcset="assets/images/photo/my-photo.webp" type="image/webp">
                <img src="assets/images/photo/my-photo.png" alt="profile image">
            </picture>
          </div>
          <div class="home__content">
                <div class="home__header">
                      <span class="home__title-subtitle">CESAR CHOCCATA </span>
                      <h1 class="home__title-main">FULLSTACK DEVELOPER</h1>
                </div>
                <div class="home__text">
                      <p>Soy ingeniero de sistemas enfocado en frontend con Angular. 
                        Me dedico a diseñar la interfaz de sitios web y 
                        aplicaciones web. Además, desarrollo API REST utilizando Spring y analisis de datos mediante Power BI y Phyton.
                      </p>
                </div>
                <div class="home__cta">
                      <button mat-stroked-button routerLink="/portfolio/about" class="home__cta-button">Más sobre mi</button>
                </div>
    
          </div>
    
    </div>
</div>