<div class="container">
    <div class="home">
          <div class="home__image">
            <img src="assets/images/photo/my-photo.jpeg" alt="hero image">
          </div>
          <div class="home__content">
                <div class="home__header">
                      <span class="home__title-subtitle">CESAR CHOCCATA </span>
                      <h1 class="home__title-main">FULLSTACK DEVELOPER</h1>
                </div>
                <div class="home__text">
                      <p>Soy ingeniero de sistemas especializado en frontend con Angular. 
                        Me dedico a diseñar la interfaz de sitios web y 
                        aplicaciones web. Además, desarrollo API REST utilizando Spring.
                      </p>
                </div>
                <div class="home__cta">
                      <button mat-stroked-button routerLink="/portfolio/about" class="home__cta-button">Más sobre mi</button>
                </div>
    
          </div>
    
    </div>
</div>