<div class="dashboards">

    <div class="dashboard">
        <div class="dashboard__image">
            <img src="/assets/images/dashboard/home-dashboard-sales.webp" alt="imagen de un dashbaord comercial">
        </div>
        <div class="dashboard__text">
            <h3>Dashboard Comercial</h3>
            <p>El Dashboard Comercial es una solución integral de Business Intelligence desarrollada en Power BI que
                centraliza y visualiza información crítica del desempeño comercial de la organización. Este proyecto
                representa un análisis exhaustivo de datos de ventas, productos, territorio geográfico y empleados,
                proporcionando insights accionables
                para la toma de decisiones estratégicas</p>
            <!-- <h2>Modelo de Datos</h2>
            <p>El modelo de datos implementa un esquema estrella (Star Schema) que optimiza el rendimiento de consultas y facilita el análisis multidimensional. Este 
                diseño es considerado best practice en Business Intelligence</p>
            <h2>Estructura del Dashboard</h2>
            <p>El dashboard está compuesto por 8 páginas interactivas, cada una diseñada para abordar aspectos específicos del análisis comercial:
1.	Home - Página principal con métricas estadísticas de cantidades vendidas
2.	Ventas - Análisis financiero completo de ingresos, costos y rentabilidad
3.	Resumen - Vista consolidada de métricas clave con visualización geográfica
4.	Productos - Análisis detallado del desempeño por producto y categoría
5.	Análisis Geográfico - Distribución de ventas por continente, país y región
6.	Precios y Descuentos - Evaluación del impacto de promociones en la rentabilidad
7.	Empleados - Performance individual del equipo de ventas
8.	Tooltip Mapa - Página técnica de soporte para tooltips interactivos en mapas
</p> -->
            <a href="https://app.powerbi.com/view?r=eyJrIjoiY2MwY2Y2YmYtMjdhNy00YzcxLTlmNWItODg2YTQ2Zjk3OTZiIiwidCI6IjBlMGNiMDYwLTA5YWQtNDlmNS1hMDA1LTY4YjliNDlhYTFmNiIsImMiOjR9&pageName=a640c3c49c74bf05e1df"
                target="_blank" rel="noopener noreferrer" class="dashboard__cta">
                Ver Dashboard
            </a>
        </div>
    </div>
    <div class="dashboard">
        <div class="dashboard__image">
            <img src="/assets/images/dashboard/combustible-resumen.webp" alt="imagen de un dashbaord de combustible">
        </div>
        <div class="dashboard__text">
            <h3>Dashboard sobre el mercado de combustible 2006-2025</h3>
            <p> Estoy realizando un dashboard interactivo para analizar la demanda de consumo de
                combustible segmentada por tipo de cliente (consumidores directos, distribuidores minoristas,
                embarcaciones y otros), tipo de combustible y ubicación geográfica. El cual fue extraida desde la página de OSINERMIN.
                El proyecto fue construido aplicando modelado dimensional (esquema estrella).
                El diseño se basó en metodología de data storytelling, estructurando la información en tres niveles:
                visión ejecutiva (estado general de la demanda), análisis detallado (segmento, tipo de combustible y departamentos) y
                para la toma de decisiones.
                 El resultado permite a usuarios de negocio identificar cambios de demanda, anticipar necesidades
                logísticas y priorizar acciones comerciales basadas en datos </p>
        </div>
    </div>



</div>