.dashboards{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}
.dashboard{
    background-color: var(--black-light);
    & .dashboard__image img{ 
        display: block;
        max-width: 100%;
        aspect-ratio: 16/9;
        object-fit: cover;

    } 
    & .dashboard__text{
        padding: 1rem 0;
        border-top: 5px solid var(--secondary-color);
        background-color: var(--black-light);

    }
    & .dashboard__text h3{
        /* display: block; */
        text-align: center;
        padding: 1rem 0;
        color: var(--primary-color);

        font-size: 24px;
        font-weight: 700;
        
    }
    & .dashboard__text p{
        text-wrap: balance;
        text-align: left;
        padding: 0 16px 8px 16px;
        
        
    }
    & .dashboard__text a{
        display: block;
        text-decoration:none;
        padding: 8px 16px;
        background-color: var(--primary-color);
        text-align: center;
        max-width: max-content;
        color: var(--white-color);
        margin: 0 auto;
        border-radius: 24px;
    }
    & .dashboard__text a:hover{
        background-color:#5fb5f6;
        
    }
}

@media (min-width: 768px) {
    .dashboards{
        
        gap: 2rem;
    }
    .dashboard{
        display: grid;
        grid-template-columns: 2fr 1fr;
        & .dashboard__image img{ 
            /* aspect-ratio: 5/4; */
            /* display: block;
            max-width: 100%;
            aspect-ratio: 16/9;
            object-fit: cover; */

        } 
        & .dashboard__text{
            border-top: none;
            /* border-bottom: 5px solid var(--secondary-color); */
            /* padding: 1rem 0;
            
            background-color: var(--black-light); */
        }
        & .dashboard__text h3{
            text-align: left;
            padding-left: 16px;
            /* display: block;
            text-align: center;
            padding: 1rem 0;
            color: var(--primary-color);

            font-size: 20px;
            font-weight: 700;
             */
        }
        & .dashboard__text p{
            /* text-wrap: balance;
            text-align: center;
            padding: 0 16px; */
            
        }
         & .dashboard__text a{
            text-align: left;
            margin-left: 16px;
         }
    }
}