<div class="product-details">
    <button class="product-details__close"   mat-dialog-close mat-icon-button aria-label="close button">
        <mat-icon aria-hidden="false" aria-label="close icon">close</mat-icon>
    </button>
    <h2 class="product-detail-title"> {{ data.product.title}}  </h2> 
    <p  class="product-detail-description"> {{ data.product.description}} </p>
     <div class="product-details__technologies">
          <div >
            <a *ngIf="data.product.resource" [href]="data.product.resource" target="_blank"> 
                <img class="github logo" src="/assets/images/languages/Github-logo.svg" alt="github logo">
             </a>

          </div>
          <div class="languages">
            <img *ngFor="let lang of data.product.languages" class="logo" [src]="'/assets/images/languages/'+lang+ '-logo.svg'" [alt]="lang + 'logo'">
          </div>
     </div>
    <!-- TODO: ADD URL VIDEO <iframe class="product-details__video" src="url video" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        
    </iframe> -->
    

</div>
