<div class="product-details">
    <button class="product-details__close"   mat-dialog-close mat-icon-button aria-label="close button">
        <mat-icon aria-hidden="false" aria-label="close icon">close</mat-icon>
    </button>
    <h2 class="product-detail-title"> {{ data.product.title}}  </h2> 
    <p  class="product-detail-description"> {{ data.product.description}} <a [href]="data.product.website" target="_blank" >Demo</a> </p>
    
     <div class="product-details__technologies">
          <div >
            <a *ngIf="data.product.resource" [href]="data.product.resource" target="_blank"> 
                <img class="github logo" src="/assets/images/tech/Github-logo.svg" alt="github logo" loading="lazy">
             </a>

          </div>
          <div class="languages">
            <img *ngFor="let lang of data.product.tecnology" class="logo" [src]="'/assets/images/tech/'+lang+ '-logo.svg'" [alt]="lang + 'logo'" loading="lazy">
          </div>
     </div>
    

</div>
