<nav class="menu-destock">
    <ul class="menu-destock__buttons">
          <button class="button" mat-stroked-button routerLinkActive="actives"  routerLink="/portfolio-cesar/home"  >Inicio</button >
          <button class="button" mat-stroked-button routerLinkActive="actives"  routerLink="/portfolio-cesar/about"  >Acerca</button >
          <button class="button" mat-stroked-button routerLinkActive="actives"  routerLink="/portfolio-cesar/projects"  >Proyectos</button >
          <button class="button" mat-stroked-button routerLinkActive="actives"  routerLink="/portfolio-cesar/contact"  >Contacto</button >
    </ul>
</nav>
<nav class="menu-mobile">
    <ul class="menu-mobile__buttons">
          <button class="menu-mobile__button" mat-stroked-button routerLinkActive="actives"  routerLink="/portfolio-cesar/home"   >
                <mat-icon class="menu-mobile__icon">home</mat-icon>
          </button >
          
          <button class="menu-mobile__button" mat-stroked-button routerLinkActive="actives"  routerLink="/portfolio-cesar/about"   >
                <mat-icon class="menu-mobile__icon">person</mat-icon>
          </button >
          
          <button class="menu-mobile__button" mat-stroked-button routerLinkActive="actives"  routerLink="/portfolio-cesar/projects"  >
                <mat-icon class="menu-mobile__icon">folder</mat-icon>
          </button >
          
          <button class="menu-mobile__button" mat-stroked-button routerLinkActive="actives"  routerLink="/portfolio-cesar/contact"   >
                <mat-icon class="menu-mobile__icon">mail</mat-icon>
          </button >
    </ul>
</nav>