<nav class="menu-destock">
    <ul class="menu-destock__buttons">
          <button class="button" mat-stroked-button routerLinkActive="actives"  routerLink="/portfolio/home"     aria-label="Go to Home page" name="menuButtonDestock"  >Inicio</button >
          <button class="button" mat-stroked-button routerLinkActive="actives"  routerLink="/portfolio/about"    aria-label="Go to About page" name="aboutButtonDestock"  >Acerca</button >
          <button class="button" mat-stroked-button routerLinkActive="actives"  routerLink="/portfolio/projects" aria-label="Go to Projects page" name="projectsButtonDestock"  >Proyectos</button >
          <button class="button" mat-stroked-button routerLinkActive="actives"  routerLink="/portfolio/contact"  aria-label="Go to Contact page" name="contactButtonDestock"  >Contacto</button >
    </ul>
</nav>
<nav class="menu-mobile">
    <ul class="menu-mobile__buttons">
          <button class="menu-mobile__button" mat-stroked-button routerLinkActive="actives"  routerLink="/portfolio/home"      aria-label="Go to Home page" name="menuHomeButtonMobile">
                <mat-icon class="menu-mobile__icon">home</mat-icon>
          </button >
          
          <button class="menu-mobile__button" mat-stroked-button routerLinkActive="actives"  routerLink="/portfolio/about"    aria-label="Go to Abput page"  name="aboutHomeButtonMobile">
                <mat-icon class="menu-mobile__icon">person</mat-icon>
          </button >
          
          <button class="menu-mobile__button" mat-stroked-button routerLinkActive="actives"  routerLink="/portfolio/projects"  aria-label="Go to Projects page" name="projectsHomeButtonMobile"  >
                <mat-icon class="menu-mobile__icon">folder</mat-icon>
          </button >
          
          <button class="menu-mobile__button" mat-stroked-button routerLinkActive="actives"  routerLink="/portfolio/contact"   aria-label="Go to Contact page" name="contactHomeButtonMobile" >
                <mat-icon class="menu-mobile__icon">mail</mat-icon>
          </button >
    </ul>
</nav>