<div class="skill" *ngFor="let skill of skills">
    <img  class="skil__image" [src]="'/assets/images/skills-percentage/skill-'+skill.percentage+'.svg'" [alt]="skill.name">
    <div class="skill__language">
        <img *ngIf="skill.name!='Javascript'" [src]="'/assets/images/languages/'+skill.name+'-logo.svg'" 
        [alt]="'logo'+skill.name">
        <img *ngIf="skill.name=='Javascript'" [src]="'/assets/images/languages/Javascript-logo.svg'" 
        [alt]="'logo'+skill.name">
        
    </div>
    <p class="skill__name"> {{skill.percentage + "%" }} </p>
</div>
