.skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    position: relative;
  }
  .skil__image{
    max-width: 100%;
    
  }
  .skill__language{
    position: absolute;
    left: 24%;
    top:18%;
    
  }
  .skill__language img{
    height: 70px;
  }
  .skill__name{
    margin-top: 10px;
    text-align: center;
    
  }