.mockup{
    transition: transform ease .5s;
    height: max-content;
}
.mockup:hover{
    transform: scale(1.1);
    cursor:pointer;
}
.mockup img{
    max-width: 100%;
    display: block;
    object-fit: cover;
}
.mockup .text{
    padding: 1rem 0;
    border-top: 5px solid var(--secondary-color);
    background-color: var(--black-light);
}
.mockup .text span{
    display: block;
    text-align: center;
    padding: 1rem 0;
    color: var(--primary-color);

    font-size: 20px;
    font-weight: 700;
    
}
.mockup .text p{
    text-wrap: balance;
    text-align: center;
    padding: 0 16px;
    
}
 
@media (min-width: 728px) {
    .mockup img{
        width:30rem;
        
    }
    
}
