/* You can add global styles to this file, and also import other style files */
:root{
    --black-light: #252525;
    --primary-color:#0098F4;
    --secondary-color:#2DCFFF;
    --white-color:#fff;
    --menu-height:94px;

    --font-desk-h1:40px;
    --font-mobile-h1:28px;
    
    --font-desk-h2:41px;
    --font-mobile-h2:56px;
    
    --font-desk-h3:26px;
    --font-mobile-h3:56px;
   }
   *{
     box-sizing: border-box;
   }
   body { 
     margin: 0;
     font-family: Roboto;
     background-color: black;
      
    
   }
    
   h1,h2,h3,h4{
     margin: 0;
     text-align: center;
   }
   h1{
    font-size: var(--font-mobile-h1);
    font-weight: 900;
    font-style: normal;
    line-height: normal;
    text-align: center;
   }
   p{
     margin: 0;
     font-size: 16px;
    }
    
    @media (min-width: 728px)
    {
       h1{
         font-size: var(--font-desk-h1);
         text-align: center;
       }
       p{
        font-size: 20px;
       }
    }